<!-- Header -->
<header class="masthead" style="text-align:center;color:#fff;background-image:url('http://www.tubzvendingfranchise.co.uk/wp-content/uploads/2016/07/8005883412_9ef5f38f97_k.jpg');background-repeat:no-repeat;background-attachment:scroll;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Vendimo</div>
      <div class="intro-heading text-uppercase" style="font-size: 34pt;">Intelligent vending machine solution</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">How does it work?</a>
    </div>
  </div>
</header>
